
<div class="text-base font-semibold leading-7 text-indigo-600 flex gap-x-6">
  <%= link_to "Back", root_path %> 
  <%= link_to "Edit", edit_post_path(@post) if user_signed_in? %>
</div>
<h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= @post.title %></h1>
<% if @post.cover_image.present? %>
<figure class="mt-10">
  <%= image_tag @post.cover_image, class: "aspect-video rounded-xl bg-gray-50 object-cover"  %>
</figure>
<% end %>
<p class="mt-6 text-xl leading-8">
  <%= @post.blurb %>
</p>
<div class="mt-10">
  <%= @post.content %>
</div>
