<!DOCTYPE html>
<html>
  <head>
    <title>Devspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="bg-white px-6 py-32 lg:px-8">
      <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
        <% if notice %>
          <div class="rounded-md bg-blue-50 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-blue-700"><%= notice %></p>
              </div>
            </div>
          </div>
        <% end %>
        <% if alert %> 
          <div class="rounded-md bg-yellow-50 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-yellow-700"><%= alert %></p>
              </div>
            </div>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <div class="bg-white">
            <div class="mx-auto max-w-7xl flex gap-x-6 border-b py-4">
              <%= link_to "Home", root_path %>
              <%= link_to "Profile", edit_user_registration_path %>
              <%= button_to "Logout", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        <% else %>
          <div class="bg-white">
            <div class="mx-auto max-w-7xl flex gap-x-6 border-b py-4">
              <%= link_to "Home", root_path %>
              <%= link_to "Login", new_user_session_path %>
            </div>
          </div>
        <% end %>
        <div class="mt-6">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
